@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Playfair+Display:900|Open+Sans');

body {
	background: url('../support/image/opacity.jpg') no-repeat top right fixed;
	background-size: cover;
	padding: 50px;
}

.slideWindow {
	max-width: 1250px;
	margin: auto;
	border: 5px solid gray;
	margin-bottom: 50px;
}

.eventLabel {
	position: relative;
	bottom: -13px;
	left: 100px;
    font-family: 'Permanent Marker', cursive;
    color: rgb(28, 33, 104);
    background-color: rgba(245, 233, 149, 0.5);
    font-size: 24pt;
	padding: 7px;
}