@import url('https://fonts.googleapis.com/css?family=Architects Daughter');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    padding: 0;
    margin: 0;
}
:root {
      --image: url('../image/cad3.jpg');
    }
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat';
    font-size: 20px;
}
.header {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    background-image: var(--image);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
    display: flex;
}
.snowman{
    max-height: 25vh;
    position: absolute;
    top: 8vh;
    left: 2vw;
    opacity: 0.8;
}

.overlay{
    width: 100%;
    height: 100vh;
    background-color: #000000;
    opacity: 0.3;
}
.controls{
    color: white;
    position: absolute;
    display: block;
    bottom: 0;
}
.header-title{
    padding: 0 0 15px 50px;
    font-size: 2.5em;
}
.header-sub-title{
    padding: 0 0 25px 50px;
    font-size: 1.3em;
}
.header-button{
    padding: 0 0 100px 50px;
}
#start{
    font-size: 1.6em;
    padding: 10px 50px 10px 50px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}
#start:hover{
    color: #000000;
    background-color: #ffffff; 
}
section{
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0 25px 0;
}
main{
    background-color: #ffffff;
}
.content{
    line-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 1.6em;
    line-height: 80px;
}
.note{
    font-size: 0.8em;
    line-height: 60px;
    font-style: italic;
}
#manual,#additional{
    background-color: #0A0A10;
    color: #ffffff;
}
a{
    text-decoration: none;
}
#manual a,
#additional a{
    color: #ffffff;
}
#monitoring a,
#report a{
    color: #000000;
}
#monitoring a:hover,
#report a:hover,
#manual a:hover,
#additional a:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
    color: red;
}
.nav{
    /*border: 1px solid red;*/
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.1em; 
    color: white;
    position: absolute;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: 2;
}
.nav [data-target]{
    line-height: 60px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.nav [data-target]:hover{
    transform: scale(1.1);
}
.fixed{
    position: fixed;
    top: 0;
    bottom: auto;
    opacity: 1;
}
.post-it{
    position: absolute;
    right: 120px;
    top: 40px;
    width: 400px;
    z-index: 2;
    background: #ffffcc; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffffcc 81%, #ffffcc 82%, #ffffcc 82%, #ffffee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffffcc), color-stop(82%,#ffffcc), color-stop(82%,#ffffcc), color-stop(100%,#ffffee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #ffffcc 81%,#ffffcc 82%,#ffffcc 82%,#ffffee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #ffffcc 81%,#ffffcc 82%,#ffffcc 82%,#ffffee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #ffffcc 81%,#ffffcc 82%,#ffffcc 82%,#ffffee 100%); /* IE10+ */
    background: linear-gradient(135deg, #ffffcc 81%,#ffffcc 82%,#ffffcc 82%,#ffffee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffcc', endColorstr='#ffffee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border:1px solid #E8E8E8;
    border-bottom-right-radius: 100px 10px;
    box-shadow: 2px 2px 5px 0 #444444;
    padding: 50px 0 10px 0;
    transform: rotate(9deg);
    transform-origin: 0%
}
.tape{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    background: rgba(0, 0, 0, 0.3);
    background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)), color-stop(0.3, rgba(0, 0, 0, 0.4)));
    background: -moz-linear-gradient(555% 0 180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0));
    background: -ms-linear-gradient(555% 0 180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0));
    background: -o-linear-gradient(555% 0 180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0));
    background: linear-gradient(555% 0 180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0));
    border-left: dashed 1px rgba(0, 0, 0, 0.3);
    border-right: dashed 1px rgba(0, 0, 0, 0.3);
    width: 175px;
    height: 40px;
    position: absolute;
    top: 0;
}
.tape1{
    transform: rotate(36deg);
    right: -70px;
    top: -60px;
}
.tape2{
    transform: rotate(126deg);
    left: -75px;
}
.post-it p{
    font-family:'Architects Daughter';
    font-size:22px;
    min-height: 32px;
    padding: 0 30px 0 30px;
}
.post-it p:after{
    content: "";
    background-color: #cce0ff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateY(24px);
    z-index: -1;
}
.note-link{
    cursor: pointer;
    color: #ff0000;
    font-weight: bold;
}