@import url('https://fonts.googleapis.com/css?family=Montserrat Alternates');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    padding: 0;
    margin: 0;
}
:root {
      --image: url('../image/cad3.jpg');
    }
/**::-webkit-scrollbar {
    width: 0px;
}*/
/*body:after {
    content: "forbesarnel09@gmail.com";
    position: fixed;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    color: #000000;
    font-size: 5pt;
}*/
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat';
    font-size: 20px;
}
.header {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    background-image: var(--image);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
    display: flex;

}
.snowman{
    height: 250px;
}

.overlay{
    width: 100%;
    height: 100vh;
    background-color: #000000;
    opacity: 0.5;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.header-title{
    padding: 0 0 15px 50px;
    font-size: 2.5em;
}
.header-sub-title{
    padding: 0 0 25px 50px;
    font-size: 1.3em;
}
.header-button{
    padding: 0 0 100px 50px;
}
#start{
    font-size: 1.6em;
    padding: 10px 50px 10px 50px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}
#start:hover{
    color: #000000;
    background-color: #ffffff; 
}
section{
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0 25px 0;
}
main{
    background-color: #ffffff;
}
.content{
    line-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 1.6em;
    line-height: 80px;
}
.note{
    font-size: 0.8em;
    line-height: 60px;
    font-style: italic;
}
#manual,#additional{
    background-color: #000000;
    color: #ffffff;
}
a{
    text-decoration: none;
}
#manual a,
#additional a{
    color: #ffffff;
}
#monitoring a,
#report a{
    color: #000000;
}
section p:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
    color: red;
}