.post-it{
    position: absolute;
    right: 60px;
    top: 50px;
    width: 400px;
    z-index: 2;
    background: #ffffcc; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffffcc 81%, #ffffcc 82%, #ffffcc 82%, #ffffee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffffcc), color-stop(82%,#ffffcc), color-stop(82%,#ffffcc), color-stop(100%,#ffffee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #ffffcc 81%,#ffffcc 82%,#ffffcc 82%,#ffffee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #ffffcc 81%,#ffffcc 82%,#ffffcc 82%,#ffffee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #ffffcc 81%,#ffffcc 82%,#ffffcc 82%,#ffffee 100%); /* IE10+ */
    background: linear-gradient(135deg, #ffffcc 81%,#ffffcc 82%,#ffffcc 82%,#ffffee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffcc', endColorstr='#ffffee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border:1px solid #E8E8E8;
    border-bottom-right-radius: 100px 10px;
    box-shadow: 2px 2px 5px 0 #444444;
    padding: 50px 0 10px 0;
}
.tape{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    background: rgba(0, 0, 0, 0.3);
    background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)), color-stop(0.3, rgba(0, 0, 0, 0.4)));
    background: -moz-linear-gradient(555% 0 180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0));
    background: -ms-linear-gradient(555% 0 180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0));
    background: -o-linear-gradient(555% 0 180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0));
    background: linear-gradient(555% 0 180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0));
    border-left: dashed 1px rgba(0, 0, 0, 0.3);
    border-right: dashed 1px rgba(0, 0, 0, 0.3);
    width: 175px;
    height: 40px;
    position: absolute;
    top: 0;
}
.tape1{
    transform: rotate(45deg);
    right: -70px;
}
.tape2{
    transform: rotate(135deg);
    left: -70px;
}
.post-it p{
    font-family:'Architects Daughter';
    font-size:22px;
    min-height: 32px;
    padding: 0 30px 0 30px;
}
.post-it p:after{
    content: "";
    background-color: #cce0ff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateY(24px);
    z-index: -1;
}
.note-link{
    cursor: pointer;
    color: #ff0000;
    font-weight: bold;
}