@import url('https://fonts.googleapis.com/css?family=Architects Daughter');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{ scroll-behavior: smooth }
body{
    font-family: 'Montserrat';
    font-size: 20px;
}
:root { --image: url('../image/cad3.jpg') }
.layer2{ z-index: -2 }
.layer1{ z-index: -1 }
.layer0{ z-index: 0 }

.background {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    background-image: var(--image);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
}
.filter{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    opacity: 0.3;
}
/*header*/
.header{
    position: absolute;
    display: block;
    color: white;
    bottom: 0;
}
.header .title{
    padding: 0 0 15px 50px;
    font-size: 2.5em;
}
.header .sub-title{
    padding: 0 0 25px 50px;
    font-size: 1.3em;
}
.header .button{
    padding: 0 0 100px 50px;
}
#start{
    font-size: 1.6em;
    padding: 10px 50px 10px 50px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}
#start:hover{
    color: #000000;
    background-color: #ffffff; 
}
/*navigation bar*/
.nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.1em; 
    color: white;
    position: absolute;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
}
.nav [data-target]{
    line-height: 60px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.nav [data-target]:hover{
    transform: scale(1.1);
}
.fixed{
    position: fixed;
    top: 0;
    bottom: auto;
    opacity: 1;
}
/*blank screen*/
.blank{ height: 100vh; width: 100%; }
/*main content*/
main{
    position: relative;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0 25px 0;
}
section:nth-child(even){ background-color: #ffffff; }
section:nth-child(odd){ background-color: #0A0A10; }
section:nth-child(even) *{ color: #000000; }
section:nth-child(odd) *{ color: #ffffff; }
section a{ text-decoration: none; }
section a:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
    color: red;
}
.content{
    line-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 1.6em;
    line-height: 80px;
}
.note{
    font-size: 0.8em;
    line-height: 60px;
    font-style: italic;
}
